@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&family=Open+Sans&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');
/** General styles **/
*{
    border:0;
    margin:0;
    padding:0;   
}

a{
    text-decoration: none;
}

.uppercase{
    text-transform: uppercase;
}

.font1{
    font-family: "Cormorant Garamond", sans-serif;
}

.bold{
    font-weight: 500;
}

.align-center{
    text-align: center;
}

/** Colors **/
.navbar-custom{background-color: #6ff7e8;}
.header-image{background-color: #6ff7e8;}
.header-nav-list{ background-color: #6FF7E8;}
.section1{background-color:#5bd9d6 ;}
.section2{background-color: #47bbc5;}
.section3{background-color: #339cb3;}
footer{background-color: #1F7EA1;}


/** Header **/
.header{
    border:0;
    margin:0;
    padding:0; 
    height:auto; 

}

.header-image {
    max-height: 8rem;
    width:auto;
    object-fit: fill;
    filter: invert(77%) sepia(98%) saturate(246%) hue-rotate(103deg) brightness(102%) contrast(94%);    
}

.navbar-brand{
    display:contents;
    border:0;
    margin:0;
    padding:0;  
}
button.navbar-toggler{
    border:none;
    margin-right: 10px;
}

.header-nav-list{
 list-style: none;
 display: flex;
 flex-direction: column;
 flex-wrap: wrap;
 align-items: center;
 justify-content: space-between;
 padding-right: 2rem;
 margin:0;
 
}
li{
font-size: 1.2rem;
font-family: "Cormorant Garamond", sans-serif;
color: #000000;

}

.header-nav-list-item a{
text-decoration: none;

}


/** Sections **/

.section1, .section2, .hero-image-section {
   width: 100%;
   min-height: 20rem; 

}

.section1{
    margin-top:9rem;
}

.section3{
    min-height: fit-content;
    padding-bottom: 10px;
}


/** 
.hero-image-section{
    background: url(../images/table.jpg) no-repeat;
    background-size: cover; 
} **/

/** Hero image section **/

.hero-image-section{
    position: relative;
    overflow: hidden;
}

.hero-image-section h1, .hero-image-section h2{
    position: relative;
    top:2rem;
    z-index: 2;
    text-align: center;
    color: #000000;  
}

.hero-image-section button {
    position: relative;
    top: 8.5rem;
    z-index: 2;
}

button.btn-success{
    color: #fffaf0;
    background-color: #1F7EA1;
    border-color: #1F7EA1;
}



.hero-image-section:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.4;
    background-image: url('../images/table.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
}

.section-heading{
    text-align: center;
    color: #000000;  
}
#what-we-offer{
    padding-top:1rem;
}
.what-we-offer-section{
    width:100%;
    display:block;
    text-align: center;
    padding-bottom:2rem;
}

.offer-image{
    width:160px;
    height:160px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid #aaa9ad;
    opacity: 0.6;
}

.layout-flex{
    margin-top: 2rem;
}

.carousel-inner img {
  margin: auto;
}

#testimonials{
    padding-top: 1rem;
}

.carousal-position{
    padding-top:1rem;
}

/** Footer **/

footer{
    width: 100%;
    height: 5rem;
}

.footer-list{
 list-style: none;
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding-right: 2rem;
}

.footer-list-item a{
text-decoration: none;
font-size: 1.5rem;
color: #6FF7E8;
}

.copyright-text{
    text-align:center;
    font-size: 1rem;
}
/** Media Queries **/

@media (min-width: 500px) {
  .header-nav-list{flex-direction: row;}
  .layout-flex{
      display: flex;
      
  }
  
}
@media (min-width: 768px) {
  
}
@media (min-width: 992px) { 
  
}
@media (min-width: 1200px) { 
  
  
}

