@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&family=Open+Sans&family=Roboto&display=swap');

*{
    border:0;
    margin:0;
    padding:0;   
}

a{
    text-decoration: none;
}

/** Colors **/
.navbar-custom{background-color: #6ff7e8;}
.header-image{background-color: #6ff7e8;}
.header-nav-list{ background-color: #6FF7E8;}
.section1{background-color:#5bd9d6 ;}
.section2{background-color: #47bbc5;}
.section3{background-color: #339cb3;}
footer{background-color: #1F7EA1;}


/** Header **/
.header{
    border:0;
    margin:0;
    padding:0;  
}

.header-image {
    max-height: 8rem;
    width:auto;
    object-fit: fill;
    filter: invert(77%) sepia(98%) saturate(246%) hue-rotate(103deg) brightness(102%) contrast(94%);    
}

.navbar-brand{
    display:contents;
    border:0;
    margin:0;
    padding:0;  
}
button.navbar-toggler{
    border:none;
    margin-right: 10px;
}

.header-nav-list{
 list-style: none;
 display: flex;
 flex-direction: column;
 flex-wrap: wrap;
 align-items: center;
 justify-content: space-between;
 padding-right: 2rem;
 margin:0;
 
}

.header-nav-list-item a{
text-decoration: none;
font-size: 0.9rem;
font-family: "Josefin Sans", "sans-serif";
text-transform:uppercase;
color: #000000;
}


/** Sections **/

.section1, .section2, .section3 {
   width: 100%;
   height: 20rem; 
}

/** Footer **/

footer{
    width: 100%;
    height: 5rem;
}

.footer-list{
 list-style: none;
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding-right: 2rem;
}

.footer-list-item a{
text-decoration: none;
font-size: 1.5rem;
color: #6FF7E8;
}

.copyright-text{
    text-align:center;
    font-size: 1rem;
}
/** Media Queries **/

@media (min-width: 500px) {
  .header-nav-list{flex-direction: row;}
  
}
@media (min-width: 768px) {
  
}
@media (min-width: 992px) { 
  
}
@media (min-width: 1200px) { 
  
  
}

